<div class="cart">
  <div class="cart__title">
    <i class="fa fa-shopping-cart"></i>
    <strong>Cart</strong>
  </div>
  <div class="cart__content">
    <div *ngFor="let item of items | async" class="cart__item">
      <div>
        <i
          (click)="quantityDown(item)"
          class="fas fa-less-than cart__item__quantity-icon"
        >
        </i>
        <span class="cart__item__quantity">({{ item.quantity }}x)</span>
        <i
          (click)="quantityUp(item)"
          class="fas fa-greater-than cart__item__quantity-icon"
        ></i>
        <span class="cart__item__text">{{ item.menuItem.name }}</span>
      </div>
      <div>
        <span class="cart__item__value">
          R$ {{ item.menuItem.price | number: "2.2" }}</span
        >
        <i (click)="removeItem(item)" class="fa fa-remove cart__item__icon"></i>
      </div>
    </div>
    <div class="cart__total">
      <span class="cart__total__text">Total</span>
      <span class="cart__total__value"
        >R$ {{ getTotal() | number: "2.2" }}</span
      >
    </div>
  </div>
  <div class="cart__buttons">
    <button (click)="clearCart()" type="button" class="cart__buttons__button">
      <i class="fa fa-trash"></i> Clear
    </button>
    <button type="button" class="cart__buttons__button">
      <i class="fa fa-credit-card"></i> Submit Order
    </button>
  </div>
</div>
