@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";

.footer {
  background-color: $color-footer-bg;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  width: 100%;
  font-size: 14px;

  position: absolute;
  bottom: 0;

  .app-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $global-max-width;
    height: 100%;
    width: 100%;
  }

  span {
    color: $color-text;
  }
}
