<header class="l-header">
  <nav class="c-menu">
    <ul class="c-menu-list">
      <li class="c-list__item">
        <a class="c-item__link" routerLink="/"><strong>Meat</strong></a>
      </li>
      <li class="c-list__item" routerLinkActive="c-list__item--active">
        <a class="c-item__link" routerLink="/restaurants">Restaurants</a>
      </li>
      <li class="c-list__item" routerLinkActive="c-list__item--active">
        <a class="c-item__link" routerLink="/about">About</a>
      </li>
    </ul>
  </nav>
  <mt-toggle-theme></mt-toggle-theme>
</header>
