@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";

.l-header {
  background-color: var(--color-primary);
  height: 50px;
  @include flex-center;
  padding: 0 50px;
}

.c-menu {
  display: flex;
  height: 100%;
  width: 100%;

  max-width: $global-max-width;

  .c-menu-list {
    @include flex-center;
    border: 0;
    height: 100%;
    color: var(--color-white);

    .c-list__item {
      padding: 10px;
      @include flex-center;
      height: 100%;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

      .c-item__link {
        font-size: 14px;
        padding: 15px 5px;

        strong {
          font-size: 18px;
        }
      }
    }
  }
}
