<section class="restaurant-detail">
  <section class="restaurant-detail__header">
    <div class="restaurant-detail__header__title">
      <i class="fa fa-home restaurant-detail__header__title__icon"></i>
      <h3 class="restaurant-detail__header__title__text">
        Bread &amp; Brakery
      </h3>
    </div>
    <mt-restaurant-rating
      class="restaurant-detail-header__rating"
      [rating]="4.5"
    >
    </mt-restaurant-rating>
  </section>

  <div class="restaurant-detail__body">
    <img
      class="restaurant-detail__body__image"
      src="assets/img/restaurants/breadbakery.png"
    />
    <div class="restaurant-detail__body__info">
      <span class="info__title">Categoria</span>
      <span class="info__text">Padaria</span>
      <span class="info__title">Quem somos</span>
      <p class="info__text">
        A Bread &amp; Brakery tem 40 anos de mercado. Fazemos os melhores doces
        e pães. Compre e confira.
      </p>
      <span class="info__title">Horários</span>
      <span class="info__text">Funciona de segunda à sexta, de 8h às 23h</span>
    </div>
  </div>

  <div class="restaurant-detail__footer">
    <a href="#"> Menu </a>
    <a href="#"> Reviews </a>
  </div>
</section>
