<div class="menu-item" [@menuItemAppeared]="menuItemState">
  <img class="menu-item__image" [src]="item?.imagePath" />

  <div class="menu-item__info">
    <span class="menu-item__info__title">{{ item?.name }}</span>
    <span class="menu-item__info__detail">
      {{ item?.description }}
    </span>
    <div class="menu-item__info__footer">
      <span class="menu-item__info__footer__price">
        {{ item?.price | currency: "BRL":true }}</span
      >
      <button (click)="emitAddEvent()" class="menu-item__info__footer__button">
        <i class="fa fa-plus-circle"></i> Adicionar
      </button>
    </div>
  </div>
</div>
