<section class="restaurants">
  <h1 class="restaurants__title">All the restaurants</h1>

  <div class="restaurants__search-bar">
    <form [formGroup]="searchForm">
      <input
        [@toggleSearch]="searchBarState"
        type="text"
        name=""
        id=""
        placeholder="O que você deseja procurar?"
      />
      <i (click)="searchBarState = !searchBarState" class="fa fa-search"></i>
    </form>
  </div>

  <section class="restaurants__list">
    <div *ngFor="let restaurant of restaurants">
      <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
    </div>
    <div *ngIf="restaurants?.length === 0">
      <p class="lead text-center">Sorry, no restaurants matched your search.</p>
    </div>
  </section>
</section>
