@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";

:host {
  height: 200px;
}

.container {
  // transition: all 2s;
  overflow: hidden;
}

.restaurant {
  display: grid;

  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);

  transition: background-color 0.2s;

  &:hover {
    background-color: $color-hover-bg-menu;
  }

  height: 160px;
  width: 500px;
  max-width: 100%;
  padding: 20px 40px 20px 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $color-panel-bg;
  color: $color-text;
  column-gap: rem(10);

  &__image {
    grid-area: 1 / 1 / 4 / 2;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__name {
    grid-row: 1;
    text-transform: uppercase;
    color: $color-text;

    strong {
      font-weight: 800;
    }
  }
  &__rating {
    grid-column: 3;
    justify-self: end;
  }

  &__category {
    grid-row: 2;
    align-self: center;
  }

  &__delivery-estimate {
    grid-row: 3;
  }
}
