<a>
  <div class="restaurant">
    <img [src]="restaurant.imagePath" class="restaurant__image" />

    <span class="restaurant__name"
      ><strong>{{ restaurant.name }}</strong>
    </span>

    <span class="restaurant__rating">
      <i class="fa fa-star restaurant__rating__icon"></i>
      <strong class="restaurant__rating__text">{{ restaurant.rating }}</strong>
    </span>

    <span class="restaurant__category">
      {{ restaurant.category }}
    </span>

    <span class="restaurant__delivery-estimate">
      {{ restaurant.deliveryEstimate }}
    </span>
  </div>
</a>
