@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";

:host {
  width: rem(1060) !important;

  padding: rem(30);
  margin-top: rem(20);

  display: flex;
  flex-direction: column;

  background-color: $color-panel-bg;
  border-radius: $global-radius;
}

.order {
  &__title {
    color: $color-text;
    font-size: rem(22);
    font-weight: 500;
    line-height: 1.1;
    padding-bottom: rem(10);
    margin-bottom: rem(20);
    @include base-border-bottom;
  }

  &__form {
    font-size: rem(12.5);

    .form-legend {
      @include form-title;
    }

    .client-information {
      &__controls {
        display: flex;

        mat-form-field {
          margin-right: rem(15);
        }
      }
    }

    .delivery-address {
      mat-form-field {
        margin-right: rem(15);
      }
    }

    &__input {
      box-shadow: none;
      height: 34px;
      padding: 6px 12px;

      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      outline: none;

      &:focus {
        border-color: #3c8dbc;
        box-shadow: none;
      }
    }

    .order__items {
      &__title {
        @include form-title;
      }

      &__table {
        &__header,
        &__body {
          display: grid;
          grid-template-columns: rem(100) 1fr 2fr rem(100) rem(15);
        }

        &__header {
          padding: rem(20);

          &__item {
            @include base-bold;
          }
        }

        &__body {
          &__item {
            grid-template-columns: inherit;
            display: inherit;
            grid-column: 1/-1;
            padding: rem(20);

            &__quantity {
              span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: rem(20);
                user-select: none;
              }
            }

            span {
              color: $color-text;
            }

            i {
              color: $color-icon;
              margin: rem(0 5);
              cursor: pointer;
            }

            i.fa-remove {
              color: $color-danger;
            }
          }

          &__item:nth-child(odd) {
            background-color: $color-tab-panel-border-top;
          }
        }
      }
    }

    &__payment-and-total {
      display: flex;

      &__payment-method {
        width: 50%;

        legend {
          @include form-title;
        }

        mat-radio-group {
          display: flex;
          flex-direction: column;

          mat-radio-button + mat-radio-button {
            margin-top: rem(3);
          }
        }
      }

      .freight-and-total {
        width: 50%;

        &__title {
          @include form-title;
        }

        .items-container {
        }
      }
    }
  }
}
