<h1 class="order__title">
  <i class="fa fa-shopping-cart"></i>
  Finish your order
</h1>
{{ orderForm.valid }}
<!-- {{ matInputField | json }} -->
<!-- {{ orderFormRef | json }} -->
<form
  #orderFormRef
  action=""
  class="order__form"
  novalidate
  [formGroup]="orderForm"
>
  <fieldset class="client-information">
    <legend class="form-legend">Client Information:</legend>
    <div class="client-information__controls">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          type="text"
          formControlName="name"
          matInput
          placeholder="Ex: Richard"
        />
        <mat-error>
          <span mtShowValidation="name"></span>
        </mat-error>

        <i *ngIf="orderForm.controls['name'].valid" class="fa fa-check"> OK</i>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="text"
          formControlName="email"
          matInput
          placeholder="pat@example.com"
        />
        <mat-error>
          <span mtShowValidation="email"></span>
        </mat-error>

        <i *ngIf="orderForm.controls['email'].valid" class="fa fa-check"> OK</i>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email Check</mat-label>
        <input
          type="text"
          formControlName="emailCheck"
          matInput
          placeholder="pat@example.com"
        />
        <mat-error>
          <span mtShowValidation="emailCheck"></span>
        </mat-error>

        <i *ngIf="orderForm.controls['emailCheck'].valid" class="fa fa-check">
          OK</i
        >
      </mat-form-field>
    </div>
  </fieldset>
  <fieldset class="delivery-address">
    <legend class="form-legend">Delivery Address:</legend>

    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input
        type="text"
        formControlName="address"
        matInput
        placeholder="Main Street, New York, NY 10030"
      />
      <mat-error>
        <span mtShowValidation="address"></span>
      </mat-error>

      <i *ngIf="orderForm.controls['address'].valid" class="fa fa-check"> OK</i>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Number</mat-label>
      <input type="text" formControlName="number" matInput placeholder="123" />
      <mat-error>
        <span mtShowValidation="number"></span>
      </mat-error>
      <i *ngIf="orderForm.controls['number'].valid" class="fa fa-check"> OK</i>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address 2</mat-label>
      <input
        type="text"
        formControlName="address2"
        matInput
        placeholder="Main Street, New York, NY 10030"
      />
      <mat-error>
        <span mtShowValidation="address2"></span>
      </mat-error>

      <i *ngIf="orderForm.controls['address2'].valid" class="fa fa-check">OK</i>
    </mat-form-field>
  </fieldset>
  <div class="order__items">
    <h2 class="order__items__title">Order Items</h2>
    <div class="order__items__table">
      <div class="order__items__table__header">
        <span class="order__items__table__header__item">Quantity</span>
        <span class="order__items__table__header__item">Item</span>
        <span class="order__items__table__header__item">Description</span>
        <span class="order__items__table__header__item">Subtotal</span>
      </div>
      <div class="order__items__table__body">
        <mt-order-item
          [item]="item"
          *ngFor="let item of orderItems$ | async"
        ></mt-order-item>
      </div>
    </div>
  </div>

  <div class="order__form__payment-and-total">
    <fieldset class="order__form__payment-and-total__payment-method">
      <legend>Payment Method:</legend>
      <mat-radio-group formControlName="paymentMethod">
        <mat-radio-button value="1">Money</mat-radio-button>
        <mat-radio-button value="2">Credit Card</mat-radio-button>
        <mat-radio-button value="3">Meal Card</mat-radio-button>
      </mat-radio-group>
    </fieldset>

    <div class="freight-and-total">
      <h2 class="freight-and-total__title">Freight and Total:</h2>
      <div class="items-container">
        <div class="item">
          <span class="item__text">Items: </span>
          <span class="item__value"
            >R$ {{ getTotalItems() | number: "2.2" }}</span
          >
        </div>
        <div class="item">
          <span class="item__text">Freight: </span>
          <span class="item__value">R$ {{ deliveryCost | number: "2.2" }}</span>
        </div>
        <div class="item">
          <span class="item__text">Total: </span>
          <span class="item__value"
            >R$ {{ getTotalOrder() | number: "2.2" }}</span
          >
        </div>
      </div>
    </div>
  </div>
  <button [disabled]="!orderForm.valid && orderItems$." class="order-button">
    <i class="fa fa-credit-card"></i>
    Submit Order
  </button>
</form>
