<h1 class="order__title">
  <i class="fa fa-shopping-cart"></i>
  Finish your order
</h1>

<form action="" class="order__form">
  <fieldset class="client-information">
    <legend class="form-legend">Client Information:</legend>
    <div class="client-information__controls">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Ex: Richard" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email </mat-label>
        <input type="text" matInput placeholder="Ex. pat@example.com" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email Check</mat-label>
        <input type="text" matInput placeholder="Ex. pat@example.com" />
      </mat-form-field>
    </div>
  </fieldset>
  <fieldset class="delivery-address">
    <legend class="form-legend">Delivery Address:</legend>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input type="text" matInput placeholder="Ex: Richard" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Number </mat-label>
      <input type="text" matInput placeholder="Ex. pat@example.com" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address 2</mat-label>
      <input type="text" matInput placeholder="Ex. pat@example.com" />
    </mat-form-field>
  </fieldset>
  <div class="order__items">
    <h2 class="order__items__title">Order Items</h2>
    <div class="order__items__table">
      <div class="order__items__table__header">
        <span class="order__items__table__header__item">Quantity</span>
        <span class="order__items__table__header__item">Item</span>
        <span class="order__items__table__header__item">Description</span>
        <span class="order__items__table__header__item">Subtotal</span>
      </div>
      <div class="order__items__table__body">
        <div class="order__items__table__body__item">
          <span class="order__items__table__body__item__quantity">
            <i class="fas fa-minus"></i>
            <span>01</span>
            <i class="fas fa-plus"></i>
          </span>
          <span class="order__items__table__body__item__name"
            >Picolé de Brigadeiro</span
          >
          <span class="order__items__table__body__item__description"
            >Picolé de brigadeiro recheado com côco.</span
          >
          <span class="order__items__table__body__item__price">R$ 8,50 </span>
          <i class="fa fa-remove cart__item__icon"></i>
        </div>
        <div class="order__items__table__body__item">
          <span class="order__items__table__body__item__quantity">
            <i class="fas fa-minus"></i>
            <span>100</span>
            <i class="fas fa-plus"></i>
          </span>
          <span class="order__items__table__body__item__name"
            >Picolé de Brigadeiro</span
          >
          <span class="order__items__table__body__item__description"
            >Picolé de brigadeiro recheado com côco.</span
          >
          <span class="order__items__table__body__item__price">R$ 28,50 </span>
          <i class="fa fa-remove cart__item__icon"></i>
        </div>
        <div class="order__items__table__body__item">
          <span class="order__items__table__body__item__quantity">
            <i class="fas fa-minus"></i>
            <span>01</span>
            <i class="fas fa-plus"></i>
          </span>
          <span class="order__items__table__body__item__name"
            >Picolé de Brigadeiro</span
          >
          <span class="order__items__table__body__item__description"
            >Picolé de brigadeiro recheado com côco.</span
          >
          <span class="order__items__table__body__item__price">R$ 358,50 </span>
          <i class="fa fa-remove cart__item__icon"></i>
        </div>
        <div class="order__items__table__body__item">
          <span class="order__items__table__body__item__quantity">
            <i class="fas fa-minus"></i>
            <span>55</span>
            <i class="fas fa-plus"></i>
          </span>
          <span class="order__items__table__body__item__name"
            >Picolé de Brigadeiro</span
          >
          <span class="order__items__table__body__item__description"
            >Picolé de brigadeiro recheado com côco.</span
          >
          <span class="order__items__table__body__item__price"
            >R$ 1.280,50
          </span>
          <i class="fa fa-remove cart__item__icon"></i>
        </div>
      </div>
    </div>
  </div>
  <fieldset class="order__form__payment-method">
    <legend>Payment Method:</legend>
    <mat-radio-group>
      <mat-radio-button value="1">Money</mat-radio-button>
      <mat-radio-button value="2">Credit Card</mat-radio-button>
      <mat-radio-button value="3">Meal Card</mat-radio-button>
    </mat-radio-group>
  </fieldset>

  <div class="order__form__total">
    <h2>Freight and Total:</h2>
    <div>
      <div>
        <span>Items: </span>
        <span>R$ 0,00</span>
      </div>
      <div>
        <span>Freight:</span>
        <span>R$ 0,00</span>
      </div>
      <div>
        <span>Total:</span>
        <span>R$ 0,00</span>
      </div>
    </div>
  </div>
</form>
