@import "~@angular/material/theming";
@import "./sass/variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html,
body {
  height: 100%;
  background-color: var(--color-background);
}

ul {
  li {
    list-style-type: none;
  }
}

b,
strong {
  font-weight: 700;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
