@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";

:host {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-top: 20px;
  max-width: rem($global-max-width);

  .items-container {
    border-radius: $global-radius;
    overflow: hidden;
    width: 100%;
  }
}
