@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";

:host {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-top: 20px;
  max-width: rem($global-max-width);

  .items-container {
    border-radius: $global-radius;
    overflow: hidden;
    width: 100%;
  }

  .menu-item {
    background-color: $color-panel-bg;
    display: flex;

    & + & {
      margin-top: 20px;
    }

    &__image {
      @include size(160);
      border-radius: 50%;
      padding: 10px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0;

      &__title {
        @include base-bold;
        text-transform: uppercase;
      }

      &__detail {
        color: $color-text;
      }

      &__footer {
        &__price {
          @include base-bold;
          margin-right: 10px;
        }

        &__button {
          cursor: pointer;
          background-color: transparent;
          color: $color-panel-button-bg;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }

  .menu-item + .menu-item {
    margin-top: rem(15);
  }
}
